<h1 id="tableLabel">Draw History</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!drawHistory"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="drawHistories">
  <thead>
    <tr>
      <th>Id</th>
      <th>DateTime</th>
      <th>Draw</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of lottery.">
      <td>{{ drawHistory.id }}</td>
      <td>{{ drawHistory.drawDateTime}}</td>
      <td>{{ drawHistory.draw }}</td>
    </tr>
  </tbody>
</table>


